# Archivos de entorno y credenciales de Base de Datos
.env
config.php
conexion.php

# Dependencias de PHP 
vendor/

# Archivos ocultos del sistema operativo y editores de código
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs de errores del servidor
error_log
*.log
